<div class="container">
    <h1 class="text-center">MikeDB</h1>
    <h5 class="text-center">AngularJS Examples</h5>
    <div class="danger text-danger">{{$ctrl.error}}</div>
    <div>
        <button ng-click="$ctrl.getPlayers()">Get all</button>
        <button ng-click="$ctrl.setPlayers()">Set</button>
        <button ng-click="$ctrl.addPlayers()">Add some</button>
        <button ng-click="$ctrl.deletePlayers()">Delete all</button>
        -
        <button ng-click="$ctrl.setPlayers('some primitive string')">Set String</button>
        <button ng-click="$ctrl.setPlayers(69420)">Set Number</button>
        <button ng-click="$ctrl.setDate()">Set Date</button>
        -
        <button ng-click="$ctrl.badRequest()">Bad Request</button>
    </div>
    <div>
        Demo database name: "{{$ctrl.dbName}}" -
        Demo values "key": <input type="text" placeholder="sample value key" ng-model="$ctrl.key">
    </div>
    <ul>
        <p ng-show="!$ctrl.players || $ctrl.players.length == 0">--- empty ---</p>
        <li ng-repeat="p in $ctrl.players">
            <div class="row">
                <div class="col-sm-7">{{p}}</div>
                <div class="col-sm-3">-
                    <button ng-click="$ctrl.updatePlayer($index, p)">...</button>
                    <button ng-click="$ctrl.deletePlayer($index)">X</button>
                </div>
            </div>
        </li>
    </ul>
    <div class="info text-info">Items count: {{$ctrl.count}}</div>
</div>
